:root {
  --color-heading: rgb(80, 80, 80);
  --color-border: rgb(192, 192, 192);
  --color-alert: rgb(255, 239, 242);
  --color-warning: rgb(255, 118, 112);
  --color-theme: rgb(141, 147, 200);
  --max-width: 768px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
